*{
    padding:0px;
    margin:0px;
    box-sizing:border-box;

}
.c,.d{
    border:solid;
}

.a{
    background-color: rgba(0,0,0,0.7);
    display:flex;
    height:20%;
    position:fixed;
    width:100%;
    align-items:center;
    justify-content: space-between;
    
}

.a img{
    height:80px;
    margin-left:35px;
    margin-top:10px;
}

.logobar p{
    color:green;
    font-size:20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.navlist{
    border-radius:50px;
    padding:10px;
    background-color: #7DCE13;
    box-shadow:0 25px 20px -20px rgba(0,0,0,0.4);
    margin-right:35px;
     
}
 nav ul li a{
    list-style: none;
    display:inline-block;
    font-size:20px;
    font-weight:500;
    margin:10px;
    padding:13px 30px;
    cursor:pointer;
    transition:color 0.5s;
    z-index:2;
    position:relative;
    text-decoration:none;
} 

nav ul li a::after{
  
    content:'';
    background:rgb(102, 154, 133);
    background:green;
    width:100%;
    height:100%;
    border-radius:30px;
    position:absolute;
    top:100%;
    left:50%;
    transform:translate(-50%,-50%);
    z-index:-1;
    opacity:0;
    transition:top 0.5s,opacity 0.5s;
}
nav ul li a:hover{
    color:white;
}
nav ul li a:hover::after{
    top:50%;
    opacity:1;
}  

.b{
    height:100%;
}
.b{
     background-image: url("images/Welcomeimg.jpg");
     /* background-size: cover;  */
     background-size: 100% 100%; 
 }   
.c{
    height:80%;
}

.d{
  
    height:50%;
}
.ctr1, .ctr2,.ctr3{
    float: left;
    background-color: #7DCE13;
    height: 400px;
    width: 400px;
    margin: 18px;
    text-align: center;
    border-radius: 12%;
}
.video{
    margin-top: 150px;
}
.head{
    text-align: center;
    padding: 10px;
   font-size: 40px;
}
.para{
    font-size: 22px;
    padding: 15px;
    color: rgb(102, 12, 66);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
   
}
.ctr1 p:hover{
    color:white;
}
.ctr2 p:hover{
    color: white;
}
.ctr3 p:hover{
    color: white;
}

/* Register form css  */

.regform input{
    width:300px;
    height:50px;
    margin-left: 1px;;
    border: solid;
    border-radius: 10px;
    margin-top: 8px;
    text-align: center;
   
}
.regform{
    margin-left: 450px;
    background-color: rgba(0,0,0,0.7);
    right: 20;
    width:400px;
    height: 460px;
    text-align: center;
    font-family: sans-serif;
    opacity:0;
    margin-top:140px;  /*after clicking apply to 140px */
    position: absolute;
    /* box-shadow:0px 0px 10px 3px #ccc; */
    transition: 0.8s;
    border: solid;
}
.showregform{
    opacity:1;
    margin-top:140px; 
}
.regbtn{
    background-color: lightseagreen;
    border: solid;
    height: 35px;
    width: 90px;
    margin-left: 10px;
    cursor: pointer;
    border-radius: 20px;
}
.close-btn{
    color:white;
    float: left;
    font-size: 25px;
}
.close-btn:hover{
    color:red;
}
/* Registration form closed */
.co{
    color: blue;
}

/* Login form */
.loginform input{
    width:300px;
    height:50px;
    margin-left: 1px;;
    border: solid;
    border-radius: 10px;
    margin-top: 8px;
    text-align: center;
   
}
.loginform{
    margin-left: 450px;
    /* background-image: linear-gradient(rgba(248, 239, 239, 0.575),rgba(255, 255, 255, 0.459)); */
    background-color: rgba(0,0,0,0.7);
    width:400px;
    height: 250px;
    text-align: center;
    font-family: sans-serif;
    opacity:0;
    margin-top:140px;  /*after clicking apply to 140px */
    position: absolute;
    /* box-shadow:0px 0px 10px 3px #ccc; */
    transition: 0.8s;
    border: solid;
}
.showloginform{
    opacity:1;
    margin-top:140px; 
}
.loginbtn{
    background-color: lightseagreen;
    border: solid;
    height: 35px;
    width: 90px;
    margin-left: 10px;
    cursor: pointer;
    border-radius: 20px;
}
/* Login form closed */





